{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '../assets/stylesheet8.css'%}">
    <link rel="icon" type="image/x-icon" href="{%static '../assets/coffee.png'%}">
    <ul>
        <li><a href="{% url 'core:index'%}">Home</a></li>
        <li><a href="{% url 'core:index'%}">News</a></li>
        <li><a href="{% url 'core:index'%}">Contact</a></li>
        <li><a href="{% url 'core:index'%}">About</a></li>
    </ul>
    <title>Order baked goods for collection</title>
</head>
<body>

<h1>Order baked goods for collection</h1><hr>

            
    <br>
    <br>
    <br>
    <br>
    <img src="{% static '../static/assets/booking.png' %}" alt="">
    <h3>Order baked goods for collection</h3>
    <a href="{% url 'core:confirmation'%}"><button>Yes</button></a>
    <a href="{% url 'core:services'%}"><button>No</button></a>

    <div class="footer">
    
        <h3>
            <a href=""><img src="{% static '../static/assets/twitter.png' %}" alt="" class="social-icon"></a>
            <a href=""><img src="{% static '../static/assets/instagram.png' %}" alt="" class="social-icon"></a>
            <a href=""><img src="{% static '../static/assets/youtube.png' %}" alt="" class="social-icon"></a>
        </h3>
    </div>


</body>
</html>