{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '../static/assets/stylesheet.css'%}">
    <link rel="icon" type="image/x-icon" href="{% static '../static/assets/coffee.png' %}">
    <ul>
        <li><a href="{% url 'core:index'%}">Home</a></li>
        <li><a href="{% url 'core:news'%}">News</a></li>
        <li><a href="{% url 'core:contact'%}">Contact</a></li>
        <li><a href="{% url 'core:about'%}">About</a></li>
    </ul>
    <title>Contact</title>
</head>
<body>
    <h1>Contact</h1>

    
    
</body>
</html>