<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgotten Password</title>
    <link rel="stylesheet" href="/static/stylesheet4.css">
    <link rel="icon" type="image/x-icon" href="img/coffee.png">
</head>
<body>
    <h1>Forgotten Password?</h1>Page</h1>
    <div class="link"><a href="index.html">home</a></div>
    <form>  
        <div class="container">   
            <label>Email:</label>   
            <input type="text" placeholder="Enter Email" name="Email" required> <br>
            <p><b>An email will be sent with a reset pasword link shortly</b></p>
            <button type="submit">Submit</button> <br>  
        </div>   
    </form>
    <div class="footer">
        <hr>
        <h3>
            <a href=""><img src="img/twitter.png" alt="" class="social-icon"></a>
            <a href=""><img src="img/instagram.png" alt="" class="social-icon"></a>
            <a href=""><img src="img/youtube.png" alt="" class="social-icon"></a>
            <a href="contact.html">Contact</a>
            <a href="about.html">About</a>
            <a href="services.html">Services</a>
        </h3>
    </div>
</body>
</html>
