
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="/static/img/coffee.png">
    <title>Bean and Brew</title>
</head>
<body>
    <div class="link"><a href="/templates/core/index.html">home</a></div>
    <h1>Bean and Brew</h1>
    <hr>
    <a href="/templates/core/login.html" >
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <button id="box">Login!</button>
    </a>
    <div class="footer">
        <hr>
        <h3>
            <a href=""><img src="/static/img/twitter.png" alt="" class="social-icon"></a>
            <a href=""><img src="/static/img/instagram.png" alt="" class="social-icon"></a>
            <a href=""><img src="/static/img/youtube.png" alt="" class="social-icon"></a>
            <a href="/templates/core/contact.html">Contact</a>
            <a href="/templates/core/about.html">About</a>
            <a href="/templates/core/services.html">Services</a>
        </h3>
    </div>

</body>
</html>
