{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/stylesheet.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/coffee.png' %}">
    <title>Services</title>
</head>
<body>

    <div class="navbar">
        <a href="{% url 'core:index'%}">Home</a>
        <a href="{% url 'core:contact'%}">Contact</a>
        <a href="{% url 'core:about'%}">About</a>
        <div class="dropdown">
            <button class="dropbtn" onclick= myFunction()>
                Services
            </button>
            <div class="dropdown-content" id="myDropdown">
                <a href="{% url 'core:space'%}">Book a Space</a>
                <a href="{% url 'core:baking'%}">Book Online Baking Lessons</a>
                <a href="{% url 'core:collection'%}">Order Baked Goods For Collection</a>
                <a href="{% url 'core:custom'%}">Order Customisable Baked Hampers</a>
                <a href="{% url 'core:social-media'%}">Share on Social Media(Rate my Cake)</a>
            </div>
        </div> 
    </div>
    

    <div class="strokeme"><h1>Shop</h1></div>
    <a href="{% url 'core:login' %}">Log Out</a>

    <div class="container"> 
        <a href="{% url 'core:space' %}">
            <button><img src="{% static 'assets/baked-goods.png' %}" alt="" height="100px" width="100px"></button>
        </a>
        <p>Book a space</p>
        
        <a href="{% url 'core:baking' %}">
            <button><img src="{% static 'assets/baked-goods.png' %}" alt="" height="100px" width="100px"></button>
        </a>
        <p>Book online baking lessons</p>
     
        <a href="{% url 'core:collection' %}">
            <button><img src="{% static 'assets/baked-goods.png' %}" alt="" height="100px" width="100px"></button>
        </a>
        <p>Order baked goods for collection</p>
       
        <a href="{% url 'core:custom' %}">
            <button><img src="{% static 'assets/baked-goods.png' %}" alt="" height="100px" width="100px"></button>
        </a>
        <p >Order customizable baked hampers</p>

        <a href="{% url 'core:social-media' %}"> 
            <button><img src="{% static 'assets/baked-goods.png' %}" alt="" height="100px" width="100px"></button>
        </a>
        <p >Share on Social Media (Rate my cake)</p>
    </div>

    <br>
    <br>
    <br>

    <div class="footer">
        <h3>
            <a href=""><img src="{% static 'assets/twitter.png' %}" alt="" class="social-icon"></a>
            <a href=""><img src="{% static 'assets/instagram.png' %}" alt="" class="social-icon"></a>
            <a href=""><img src="{% static 'assets/youtube.png' %}" alt="" class="social-icon"></a>
        </h3>
    </div>

</body>
</html>
