
{%load static%}
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static '../static/assets/stylesheet.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static '../static/assets/coffee.png' %}">
    <title>Services</title>

    <ul>
        <li><a href="{% url 'core:index'%}">Home</a></li>
        <li><a href="{% url 'core:news'%}">News</a></li>
        <li><a href="{% url 'core:contact'%}">Contact</a></li>
        <li><a href="{% url 'core:about'%}">About</a></li>
    </ul>
    <title>Services</title>
</head>
<body>
    1169
    <div class="strokeme"><h1>Shop</h1></div>
  <div class="container">
   <a href="{% url 'core:space'%}">
    <button>Book a space</button>
   </a>
   <br>
   <br>
   <a href="{% url 'core:baking'%}">
    <button>Book online baking lessons</button>
   </a>
   <br>
   <br>
   <a href="{% url 'core:collection'%}">
    <button>Order baked goods for collection</button>
   </a>
   <br>
   <br>
   <a href="{% url 'core:custom'%}"> 
    <button>Order customisable baked hampers </button>
   </a>
   <br>
   <br>
   <a href="{% url 'core:social-media'%}"> 
    <button>Share on Social Media (Rate my cake)</button>
   </a>
   <br>
   <br>
</div>









    <br>
    <br>
    <br>
    <div class="footer">
    
        <h3>
            <a href=""><img src="{% static '../static/assets/twitter.png' %}" alt="" class="social-icon"></a>
            <a href=""><img src="{% static '../static/assets/instagram.png' %}" alt="" class="social-icon"></a>
            <a href=""><img src="{% static '../static/assets/youtube.png' %}" alt="" class="social-icon"></a>
        </h3>
    </div>
    
</html>