{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{%static '../static/assets/stylesheet6.css'%}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{% static '../static/assets/coffee.png' %}">
    <ul>
        <li><a href="{% url 'core:index'%}">Home</a></li>
        <li><a href="{% url 'core:index'%}">News</a></li>
        <li><a href="{% url 'core:index'%}">Contact</a></li>
        <li><a href="{% url 'core:index'%}">About</a></li>
    </ul>
    <title>Share on Social Media(Rate my cake)</title>

</head>
<body>
    <br><br>
<h1>Share on Social Media</h1><hr>
        

    <br>
    <br>
    <br>
    <br>
    <img src="{% static '../static/assets/social-media.png' %}" alt="lol">
    <h3>Share on Social Media</h3>


    <div>
        <!-- Instagram profile embed -->
        <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/beanandbrewlondon?igsh=eGNmcnAwZ3Z1bGZq"
            data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
            <div style="padding:8px;">
                <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50% 0; text-align:center; width:100%;">
                    <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAZQTFRF9%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FV1dXz%2F%2F%2F%2F1V9bJzAAAAB1JREFUeNpi%2FP%2F%2FPwMDQABAApSA%2F2FAwAAAABJRU5ErkJggg%3D%3D); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div>
                </div>
            </div>
            <p style=" margin:8px 0 0 0; padding:0 4px;">
                <a href="<div>
        <!-- Instagram profile embed -->
        <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/beanandbrewlondon?igsh=eGNmcnAwZ3Z1bGZq"
            data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
            <div style="padding:8px;">
                <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50% 0; text-align:center; width:100%;">
                    <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAZQTFRF9%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FV1dXz%2F%2F%2F%2F1V9bJzAAAAB1JREFUeNpi%2FP%2F%2FPwMDQABAApSA%2F2FAwAAAABJRU5ErkJggg%3D%3D); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div>
                </div>
            </div>
            <p style=" margin:8px 0 0 0; padding:0 4px;">
                <a href="https://www.instagram.com/beanandbrewlondon?igshid=eGNmcnAwZ3Z1bGZq" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;"
                    target="_blank">View this post on Instagram</a>
            </p>
            <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Bean & Brew London (@beanandbrewlondon)</p>
        </blockquote>
        <script async src="//www.instagram.com/embed.js"></script>
    </div> <p style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;"
                    target="_blank">View this post on Instagram</a>
            </p>
            <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Bean & Brew London (@beanandbrewlondon)</p>
        </blockquote>
        <script async src="//www.instagram.com/embed.js"></script>
    </div>







    <a href="{% url 'core:confirmation'%}"><button>Yes</button></a>
    <a href="{% url 'core:services'%}"><button>No</button></a>



    <div class="footer">
    
        <h3>
            <a href=""><img src="{% static '../static/assets/twitter.png' %}" alt="" class="social-icon"></a>
            <a href=""><img src="{% static '../static/assets/instagram.png' %}" alt="" class="social-icon"></a>
            <a href=""><img src="{% static '../static/assets/youtube.png' %}" alt="" class="social-icon"></a>
        </h3>
    </div>
    

    
    
        




    
</body>
</html>