body {
  text-align: center;
  min-height: 100vh;
  background-image: url(/static/assets/top-view-coffee-accessories-table.jpg);
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  color: white;
  background-size: cover;
}

.link {
  text-align: left;
}

h1 {
  text-align: center;
}

button {
  background-color: burlywood;
  width: 50%;
  color: white;
  padding: 15px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: burlywood;
}

.social-icon {
  width: 30px;
  height: auto;
  margin: 0 5px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
}

img {
  height: 80px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  opacity: 0.7;
  position: fixed;
  top: 0;
  right: 0;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.strokeme {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

body {
  width: 500px;
  margin: 0 auto;
  padding: 50px;
}

div.elem-group {
  margin: 20px 0;
}

div.elem-group.inlined {
  width: 49%;
  display: inline-block;
  float: left;
  margin-left: 1%;
}

label {
  display: block;
  font-family: 'Nanum Gothic';
  padding-bottom: 10px;
  font-size: 1.25em;
}

input,
select,
textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  width: 100%;
  padding: 10px;
}

div.elem-group.inlined input {
  width: 95%;
  display: inline-block;
}

textarea {
  height: 250px;
}

hr {
  border: 1px dotted #ccc;
}

button {
  height: 50px;
  background: burlywood;
  border: none;
  color: white;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 2px solid black;
}