body{
  text-align: center;
  min-height: 100vh;
  background-image: url(/static/assets/top-view-coffee-accessories-table.jpg);
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  color: white;
  background-size: cover
}

.link{
    text-align: left;
}


h1{
    text-align: center;
}

button{
    text-align: center;
    border-radius: 50;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: burlywood;
  
 }
 .social-icon {
    width: 30px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    margin: 0 5px; /* Add some spacing between icons */
}

 .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
 }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    opacity: 0.7;
  }
  
  li {
    float: left;
    background-color: #000;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  
  li a:hover {
    background-color: #111;
  }

  a:hover {   
    opacity: 0.7;
    transform: scale(1.1);    
  } 
  
  li a:hover {
    background-color: #111;
  }

  h1{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}


button:hover {   
  opacity: 0.7;
  background-color: burlywood;    
} 
.centered-text {
  text-align: center;
}



button {  
  background: none;
  width: 15%;
   padding: 15px;   
   margin: 10px 0px;   
   border: none;   
   cursor: pointer;   
}


.bottom {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

p{
  width: 150px;
  background-color:burlywood;
  margin-left: 670px;
  
}