body{
  text-align: center;
  min-height: 100vh;
  background-image: url(/static/assets/top-view-coffee-accessories-table.jpg);
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  color: white;
  background-size: cover
}

.link{
    text-align: left;
}


h1{
    text-align: center;
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: burlywood;
  
 }
 .social-icon {
    width: 30px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    margin: 0 5px; /* Add some spacing between icons */
}

 .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
 }


  h1{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}


 
.centered-text {
  text-align: center;
}



.btn {  
  
  width: 15%;
  padding: 15px;   
  margin: 10px 0px;   
  border: none;   
  cursor: pointer; 
  background-color: burlywood; 
}
.btn:hover{
  opacity: 0.7;
}


.bottom {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

p{
  width: 150px;
  background-color:burlywood;
  margin-left: 670px;
  
}
a button:hover{

  opacity: 0.7;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  width: 329.35px;
}



.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: burlywood;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}