body{
    text-align: center;
    background-image: url("img/top-view-coffee-accessories-table.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    color:burlywood;
    background-size: cover;
    min-height: 100vh;
}


.link{
    text-align: left;
}


h1{
    text-align: center;
}



a{
    color: burlywood;
}

button {   
    background-color: burlywood;   
    width: 15%;
    height: 79%;
     color: white;   
     padding: 15px;   
     margin: 10px 0px;   
     border: none;   
     cursor:pointer;
     border-radius: 25%;

}




.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-image: url(img/beans.png)
    posis
 }
 .social-icon {
    width: 30px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    margin: 0 5px; /* Add some spacing between icons */
}

 .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
 }

 img{
    height: 500px;
    width: 400px;
 }